html {
    font-size: 62.5% !important;
}


/* 大屏 */

@media (min-width:992px) {
    html {
        font-size: 62.5%;
    }
}


/* 中屏 */

@media (min-width:768px) {
    html {
        font-size: 59%;
    }
}


/* 小屏 */

@media (min-width:576px) {
    html {
        font-size: 56%;
    }
}

body {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}


/* 左侧内容 */

.leftCon {
    left: 0;
}

.leftCon header {
    height: 80px;
}

.leftCon header ul a {
    font-size: 1.6rem;
}

.leftCon .icon-menu {
    font-size: 3rem;
    cursor: pointer;
    color: #858585;
}

.login {
    height: calc(100vh - 80px);
}

.login h1 {
    font-size: 2.1rem;
}

.login .icon-kafei {
    font-size: 24px;
    color: #67a4c7;
}

.login a {
    font-size: 1.6rem;
}

.register {
    border-radius: 13px;
}

@media(max-width:991.98px) {
    .leftCon {
        position: relative !important;
    }
    .login {
        height: auto;
    }
}

.menu {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s;
}

.menu.hide {
    opacity: 0;
    transform: scale(1.5);
    z-index: -1;
}

.menu.show {
    opacity: 1;
    transform: scale(1);
    z-index: 2000;
}

.menu .list ul a {
    font-size: 1.8rem;
}

.menu .font,
.menu .font .btn {
    font-size: 1.6rem;
}

.menu footer,
.menu footer a {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .38);
}

#closeBtn {
    cursor: pointer;
}


/* 右侧内容 */

#pic .icon-left,
#pic .icon-right {
    font-size: 4rem;
}

.start h2 {
    font-size: 2.2rem;
}

.start p {
    font-size: 1.6rem;
    line-height: 34px;
}

.start a {
    color: #C2A661;
}

.start button {
    border-radius: 13px;
    font-size: 1.6rem;
}

.start img {
    width: 58%;
}

.betters h3,
.teah h3 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem!important;
}

.betters p,
.teah p {
    font-size: 1.6rem;
}

.betters li {
    margin-top: 56px;
}

.betters li a {
    transition: all .2s;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .12);
}

.betters li a img {
    width: 62%;
    margin-top: -30px;
}

.betters li a h4 {
    font-size: 1.6rem;
    margin: 3rem 0 1.2rem 0;
}

.betters li a p {
    font-size: 1.4rem;
}

.betters li a .caption {
    font-size: 1.2rem;
    color: #C2A661;
    opacity: .7;
    margin: 2.2rem 0;
}

.betters li a:hover {
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .20);
    transform: translateY(-5px);
}

.teah ul {
    width: 1216px;
}

.teah li {
    width: 288px;
}

.scroll li {
    transition: all .2s;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .12);
}

.scroll li span {
    font-size: 1.4rem;
    background-color: #C2A661;
    left: 0;
    top: 6px;
}

.scroll li:hover {
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .20);
    transform: translateY(-5px);
}


/* 底部 */

.footer ul {
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, .12);
}

.footer a span.iconfont {
    font-size: 1.8rem;
}

.footer a.active {
    color: #00A862!important;
}

.footer ul li {
    width: 20%;
}